<!DOCTYPE html>
<!-- Initialization of app is happening by linking module "fsqrApp" which is defined in "app.js" -->
<html lang="en" ng-app="fsqrApp">
<head>
  <meta charset="UTF-8">
  <title>Foursquare</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/my.css">
</head>
<body>
  
  <!-- Linking controller from "main.ctrl.js" - stores logic and models (as properties on $scope) -->
  <div ng-controller="MainCtrl">

    <form class="panel centered-text">
      <h1>Angular FourSquareApp</h1>

      <div>
        <!-- here output value of $scope.city -->
        {{city}}
        <!-- create $scope.city and link with input -->
        <input ng-model="city" type="text" placeholder="City">
      </div>

      <!-- similar for second input -->
      <div>
        {{category}}
        <input ng-model="category" type="text" placeholder="Category">
      </div>

      <div>
        <!-- ng-click runs function $scope.search() on click -->
        <button type="submit" ng-click="search()" class="small radius button">Press to search</button>
      </div>

    </form>

    <ul>

      <!-- iteration in $scope.places - make as much "li", with value from each item -->
      <li ng-repeat="place in places">
        {{place.name}}
      </li>

    </ul>
    
  </div>

  <!-- first of all - library itself, since all other files depend on it -->
  <script type="text/javascript" src="js/angular.min.js"></script>
  <!-- module for RESTapi, which is a dependency for our angular.module('app', ['ngResource']) -->
  <script type="text/javascript" src="js/angular-resource.js"></script>

  <!-- Main module -->
  <script type="text/javascript" src="js/app.js"></script>
  <!-- Controller, @app.js -->
  <script type="text/javascript" src="js/main.ctrl.js"></script>
  <!-- Constant with configuration object, @app.js -->
  <script src="js/config.js"></script>
  <!-- Service running $resource with data from $scope, @app.js -->
  <script type="text/javascript" src="js/common/services/foursquare/foursquareAPI.service.js"></script>


</body>
</html>